@charset "UTF-8";

/* Classes correspondentes a barra navegação */
.navbar-custom {
	text-transform: uppercase;
	font-family: 'Comfortaa';
	background-color: #000;
}
.navbar-custom .navbar-toggle{
	background-color: rgba(255,255,255,.2);
	font-size: 12px;
}
.navbar-custom .nav li a:active;
.navbar-custom .nav li a:focus;
.navbar-custom .nav li a:hover {
	background-color: transparent;
	outline: 0;
}
.navbar-custom .navbar-toggle:focus {
	outline: 0;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	color: #7a1235; /*vinho*/
}
.navbar-custom .nav li.active{
	outline:0
}
.navbar-custom .nav li.active a{
	color: #7a1235;
	background-color:rgba(255,255,255,.4)
}
.navbar-custom .nav li.active a:hover{
	color: #f38e70; /*rosinha*/
}

.nav-logo {
	width: 45px;
	height: 45px;
}

.icon-color{
	background-color: white;
}

@media screen and (min-width:768px){
  .navbar-custom{
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background:0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out
  }
  .navbar-custom.top-nav-collapse{
    padding: 0;
    background: #000;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}
@media screen and (max-width: 991px){
  .nav-logo{
    margin-right: 10%;
  }
}
@media screen and (max-width: 768px){
  .nav-logo{
    margin-left: 5%;
  }
}


/*Inicio*/
header {
  position: relative;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../Imagens/main1.jpg');
}
/*Centraliza os elementos*/
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
/*Dimensiona a logo*/
header .header-logo {
	width: 650px;
	height: 280px;
	margin-top: 50px;
	max-width:100%;
	height:auto;
}
/*sobreposição transparente do background*/
.overlay{
	background-color: rgba(253, 211, 123, 0.3); /*bege*/
	height: 700px;
}
 /*Configuracoes 'Empresa Jr.'*/
header .header-ej {
	color: #7a1235;
	font-family: 'Comfortaa'; /*fonte utilizada em posts na pagina do Facebook*/
	font-size: 30px;
  font-weight: bold;
}
/*-----------------------------------------------------------*/
.hvr-grow { /*efeito do cursor sobre o botao*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
  color: #f38e70; /*bege*/
}
/*-----------------------------------------------------------*/

/* Sobre Nós */

.sobrenos{
	text-align: center;
	padding: 60px;
}

h2.sobnos{
	font-family: "Comfortaa";
	font-size: 40px;
	font-weight: bold;
}

p.sn{
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	font-family: "arial";
	color: #b8163b;
}
hr.sob{
	margin-top: -1.8%;
	height: 4px;
	background-color: #b8163b;
	width: 40%;
}

p{
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	font-family: "arial";
}

.btn{
	font-size:25px;
}

.modal{
	color: #000000;
}


/* Nossos Serviços */
.altura{
	height: 100%;
}
.nossos_servicos{
  padding-top: 1%;
  text-align: center;
  background-color: #7a1235;
}
.carousel-inner {
    height: 100%;
}

.tittle{
	font-family: "Comfortaa";
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: #ffd37c;
}

hr.barrinha{
	margin-top: -1.1%;
  height: 3px;
  background-color: #fff;
  width: 35%;
}

.tittle_slider{
  text-align: center;
	font-weight: bold;
	margin-bottom: 5%;
	font-size: 34px;
	text-shadow:  0 1px 6px black;
}

.texto_slider{
	text-align: center;
	font-size: 22px;
	text-shadow:  0 1px 6px black;
  margin-bottom: 35%;
}
@media screen and (max-width: 1160px){
  p.texto_slider{
    margin-bottom: 10%;
  }
}
/* Parceiros */

.parceiros{
  text-align: center;
  padding-bottom: 30px;
}
hr.parc{
  margin-top: -1.8%;
  height: 4px;
  background-color: #b8163b;
  width: 40%;
}
h2.parc{
  font-family: "Comfortaa";
  font-size: 40px;
  font-weight: bold;
}
.logosparc{
  margin-top: 3%;
}
.logoparc1{
  margin-top: 3%;
}
.logoparc2{
  margin-top: 5%;
}

/*footer*/
body{
	color: #ffd37c;
}

footer {
	background-color:#7a1235;
	font-size: 16px;
	height: 100%;
	color: #ffd37c;
	font-family: Raleway;
}
a { 
	color: inherit; 
} 
.texto {
	text-align: center;
	font-size: 16px;
	display: inline;
 }
.margem {
	padding: 20px;
	top: 50%;
	left: 30%;
	margin: 50px 0 0 0;
}
@media screen and (max-width: 991px){
	.margem {
		margin-top: 10px;
	}
}
.sugestao {
    font-size: 30px;
	margin: 10px 0 0 0;
}
.contato {
	text-align: center;
	color:#ffd37c;
	padding-top: 30px;
}
.contato a:hover{
	text-decoration: none;
	color: #ffd37c;
}
.reg {
   	color: #ffd37c;
   	text-align: center;
    margin-bottom: : 50px;
}
.compactjr{
  color: white;
}
.nome{
  color: black;
}
.email{
  color: black;
}
.msg{
  color: black;
}
/*
.contato1 {
	font-size: 40px;
	font-weight: bold;
}
.texto1 {
	color: #ffd37c;
	text-align: center;
   font-size: 18px;
}
.margem2 {
	margin-top: 100px;
	margin: 20px;
	padding: 30px;

}
.texto3 {
  	color: #ffd37c;
   	text-align: center;
	font-size: 20px;
}

.icone {
	color: white;
}
*/
textarea{
	height: 20%;
	width: 100%;
    border-radius: 2%;
    }
input {
    width: 100%;
    border-radius: 2%;
    margin-bottom: 15px;
}
button {
    float:right;
    background: #ffd37c;
	margin: 10px 15px 0 0;
}
legend {
    font-size: 29px;
    color: #ffd37c;
}

/*
Cores:

#ffd37c bege
#f38e70 rosinha
#b8163b rosa avermelhado
#7a1235 vinho
*/
