@charset "UTF-8";

@font-face {
      font-family: "adlanta";
      src: url("../fonts/Adlanta.otf");
}

.nav{
  font-family: serif;
  float:right;
  font-weight: bolder;


}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #f38e70;
}

a{
  color: #648fe0;
}

@charset "UTF-8";

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../Imagens/main12.jpg');
}

header .header-content { /*Centraliza os elementos*/
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header .header-logo { /*Dimensiona a logo*/
	width: 543px;
	height: 232px;
}

header .header-lema { /*Configuracoes do lema*/
	color: #b8163b; /*rosa avermelhado*/
	font-family: Corbel; /*fonte utilizada em posts na pagina do Facebook*/
	font-size: 30px;
	margin-bottom: 30px; /*Distancia entre o lema e o botao*/
}

header .header-button{ /*Configuracoes do botao*/
	display: block;
	margin-top: 10px;
	font-family: 'Comfortaa'; /*fonte da logo*/
	background-color: transparent;
 /* border: 1px;
	border-style: solid;
	border-color: #ffd37c;*/
    color: #ffd37c; /*rosinha*/
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	box-shadow: 8px 10px 5px #1C1C1C; /*sobra cinza escuro*/

}

.hvr-grow { /*efeito do cursor sobre o botao*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
  color: #f38e70; /*bege*/
}

/* Parceiros */

.parceiros{
  text-align: center;
}
hr.parc{
  margin-top: -1.8%;
  height: 4px;
  background-color: #b8163b;
  width: 40%;
}
h2.parc{
  font-family: "adlanta";
  font-size: 40px;
  font-weight: bold;
}
.logosparc{
  margin-top: 3%;
}

/* Sobre Nós */

.sobrenos{
  text-align: center;
  padding: 60px;

}

h2.sobnos{
  font-family: "adlanta";
  font-size: 40px;
  font-weight: bold;
}

p.sn{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  font-family: "arial";
  color: #b8163b;
}
hr.sob{
  margin-top: -1.8%;
  height: 4px;
  background-color: #b8163b;
  width: 40%;
}

p{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  font-family: "arial";


}

.btn{
  font-size:25px;
}


/*
Cores:

#ffd37c bege
#f38e70 rosinha
#b8163b rosa avermelhado
#7a1235 vinho
*/
